@import url('https://fonts.googleapis.com/css2?family=Armata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');

:root{ /* declaração de variáveis */
    --corPrimaria: #000000;
    --corSecundaria: #53B51F;
    --corTerciaria: #22D4FD;
    --corHover: #272727;

    --fontePrimaria: 'Courier Prime', monospace;
    --fonteSecundaria: 'Armata', sans-serif;
}

*{
    margin: 0;
    padding: 0;
}
body{
    /* height: 100vh; */
    background-color: var(--corPrimaria);
    color: var(--corSecundaria);
}
strong:hover{
    transition: 1s;
    color: red;
}
.cabecalho{
    padding: 65px 0 0 7%;
}
.cabecalho__menu{
    display: flex;
    gap: 80px;
}
.cabecalho__menu__link{
    text-decoration: none;
    font-family: var(--fontePrimaria);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--corSecundaria);
}
.apresentacao{
    padding: 5% 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}
.apresentacao__conteudo{
    width: 50%;
}
.apresentacao__links{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    margin-top: 5%;
}
.apresentacao__links__subtitulo{
    font-weight: 400;
    font-size: 1.5rem;
}
.apresentacao__links__navegacao{
    /* background-color: #22D4FD; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    border: 3px solid var(--corTerciaria); 
    border-radius: 8px;
    width: 50%;
    text-align: center;
    align-items: baseline;
    border-radius: 16px;
    padding: 16px;
    text-decoration: none;
    color: F6F6F6;
    font-size: 1.5rem;
    font-family: 'Metal Mania', cursive;
    font-weight: 400;
}
.apresentacao__links__navegacao:hover{
    background-color: var(--corHover);
}
.apresentacao__conteudo__titulo{
    font-family: var(--fontePrimaria);
    font-weight: bold;
    font-size: 2.25rem;
}
.apresentacao__conteudo__texto{
    font-family: var(--fonteSecundaria);
}
.destaque{
    color: #B51FB5;
}
.apresentacao__imagem{
    width: 50%;
}
.apresentacao__imagem:hover{
    transition: 2s;
    opacity: 0;
}
.rodape{
    background-color: var(--corTerciaria);
    color: var(--corPrimaria);
    padding: 24px;
    width: 100vw;
    text-align: center;
    font-family: var(--fontePrimaria);
    font-weight: 400;
}
@media (max-width: 620px){
    .cabecalho{
        padding: 10%;
    }
    .cabecalho__menu{
        justify-content: center;
    } 
    .apresentacao{
        flex-direction: column-reverse; 
        padding: 3%;
    }
    .apresentacao__conteudo{
        width: auto;
    }
}